# When a new release is created in the data-science repo, the weco-datascience
# package is built and released with flit, using the same tag.

name: Build weco_datascience

on:
  pull_request:
    paths:
      - weco_datascience/**
      - pyproject.toml
      - Makefile

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: make setup
      - name: Build
        run: make build
